#principal{color: rgb(250, 10, 10);
text-align: center;}
.texto-amarelo{color: black;
text-align: center;}
   form{font-family: cursive;}
body {background-image: url(images\ a.jfif);
background-repeat: no-repeat;
background-size: cover;}

