h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 6000;
     font-size: xx-large;
     font-style: italic;
    text-align: center;}
    p{text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   font-style: oblique;
   font-weight: 900;}
   form{font-family: cursive;}
body {background-image: url(images\ a.jfif);
background-repeat: no-repeat;
background-size: cover;}
